<h1 class="content-title"><%= title %></h1>
<% if(deleted === false) { %>
<% if(!allPotionsInClassification.length > 0) { %>
<p style="font-size: 1.25rem;">Are you sure you want to delete the <%= classification.title %> classification?</p>
<form method="POST">
  <button class="button" type="submit">Delete</button>
</form>
<% } %>
<% } else { %>
<p style="font-size: 1.25rem;">You have successfully deleted the <%= classification.title %> classification</p>
<a href="/catalog/classifications"><button class="button">Return to Catalog</button></a>
<% } %>
<% if(allPotionsInClassification.length > 0) { %>
<p style="font-size: 1.25rem;">Delete the associated potions before deleting this classification:</p>
<ul class="desc-list" style="font-size: 1.25rem;">
  <% allPotionsInClassification.forEach(potion => { %>
  <li>
    <a href="<%= potion.url %>">
      <p class="delete-item"><%= potion.name %></p>
    </a>
  </li>
  <% }) %>
</ul>
<% } %>