<h1 class="content-title"><%= title %></h1>
<div class="detail bg-lvl-2">
  <div class="main-detail">
    <img class="list-image" src="<%= potion.image %>" alt="Potion">
    <h3 class="list-title"><%= potion.name %></h3>
    <p class="list-desc"><%= potion.description %></p>
  </div>

  <h4>Primary Effect:</h4>
  <p><%= potion.effect.title %></p>
  <h4>Secondary Effects:</h4>
  <% if(potion.subEffects) { %>
  <% potion.subEffects.map(subEffect => { %>
  <p><%= subEffect.title %></p>
  <% }) %>
  <% } else { %>
  <p>None</p>
  <% } %>
  <p class="list-price">Price: <%= potion.price %></p>
  <p class="list-qty">In Stock: <%= potion.quantityInStock %></p>
  <p>Lore:</p>
  <p><%= potion.lore %></p>
  <div>
    <a href="/catalog/potion/<%= potion._id %>/update"><button class="button">Edit Potion</button></a>
    <a href="/catalog/potion/<%= potion._id %>/delete"><button class="button">Delete Potion</button></a>
  </div>
</div>