<h1 class="content-title"><%= title %></h1>

<form class="form bg-lvl-2" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="image">Image:</label>
    <input type="file" id="image" name="image">
    <label for="classification">Classification:</label>
    <select id="classification" class="form-control" name="classification" required>
      <% if(potion) { %>
      <option value="<%= potion.classification._id %>"><%= potion.classification.title %></option>
      <% } else { %>
      <option value="">--Please select a classification--</option>
      <% } %>
      <% classifications.forEach(function(classification) { %>
      <option value="<%= classification._id %>"><%= classification.title %></option>
      <% }); %>
    </select>
  </div>

  <div class="form-group">
    <label for="effect">Primary Effect:</label>
    <select id="effect" class="form-control" name="effect" required>
      <% if(potion) { %>
      <option value="<%= potion.effect._id %>"><%= potion.effect.title %></option>
      <% } else { %>
      <option value="">--Please select an effect--</option>
      <% } %>
      <% effects.forEach(function(effect) { %>
      <option value="<%= effect._id %>"><%= effect.title %></option>
      <% }); %>
    </select>
  </div>

  <div class="form-group">
    <label>Secondary Effects:</label>
    <ul class="check-list">
      <% effects.forEach(function(effect) { %>
      <li class="check-box">
        <% if (subEffectTitles.includes(effect.title)) { %>
        <input type="checkbox" class="checkbox-input" name="subEffect" id="<%= effect._id %>" value="<%= effect._id %>" checked>
        <% } else { %>
        <input type="checkbox" class="checkbox-input" name="subEffect" id="<%= effect._id %>" value="<%= effect._id %>">
        <% } %>
        <label for="<%= effect._id %>">&nbsp;<%= effect.title %></label>
      </li>
      <% }); %>
    </ul>
  </div>

  <div class="form-group">
    <label for="price">Price:</label>
    <% if(potion) { %>
    <input type="number" id="price" name="price" value="<%= potion.price %>">
    <% } else { %>
    <input type="number" id="price" name="price">
    <% } %>
  </div>

  <div class="form-group">
    <label for="quantityInStock">In Stock:</label>
    <% if(potion) { %>
    <input type="number" id="quantityInStock" name="quantityInStock" value="<%= potion.quantityInStock %>">
    <% } else { %>
    <input type="number" id="quantityInStock" name="quantityInStock">
    <% } %>
  </div>

  <div class="form-group">
    <label for="lore">Lore:</label>
    <% if(potion) { %>
    <textarea id="lore" name="lore" rows="10" cols="50"><%= potion.lore %></textarea>
    <% } else { %>
    <textarea id="lore" name="lore" rows="10" cols="50"></textarea> <% } %>
  </div>

  <button class="button" type="submit">Submit</button>
</form>

<% if (errors) { %>
<ul>
  <% errors.forEach(function(error) { %>
  <li><%= error.msg %></li>
  <% }); %>
</ul>
<% } %>