<h1 class="content-title"><%= title %></h1>
<div class="detail bg-lvl-2">
  <div class="main-detail">
    <img class="detail-image" src="<%= potion.image %>" alt="Potion">
    <div class="detail-desc">
      <h4>Grants the Consumer:</h4>
      <ul class="desc-list">
        <% potion.description.forEach(description => { %>
        <li><%= description %></li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="effect-list">
    <h4>Primary Effect:</h4>
    <p><%= potion.effect.title %></p>
  </div>
  <div class="effect-list">
    <h4>Secondary Effects:</h4>
    <% if (potion.subEffects && potion.subEffects.length > 0) { %>
    <p>
      <% potion.subEffects.forEach((subEffect, index) => { %>
      <%= subEffect.title %><% if (index < potion.subEffects.length - 1) { %>, <% } %>
      <% }) %>
    </p>
    <% } else { %>
    <p>None</p>
    <% } %>
  </div>

  <p>Price: <%= potion.price %></p>
  <p>In Stock: <%= potion.quantityInStock %></p>
  <p>Lore:</p>
  <p class="lore"><%= potion.lore %></p>
  <div class="button-container">
    <a href="/catalog/potion/<%= potion._id %>/update"><button class="button">Edit Potion</button></a>
    <a href="/catalog/potion/<%= potion._id %>/delete"><button class="button">Delete Potion</button></a>
  </div>
</div>